<configuration>

    <contextName>Intuit Demo</contextName>

    <jmxConfigurator />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />


    <appender name="appender-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%clr(%date{yyyy-MM-dd@HH:mm:ss.SSS}){faint}|%marker|%clr(%5p) %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</Pattern>
        </encoder>
    </appender>


    <logger name="intuit-demo" level="INFO"/>

    <!-- supress some spring app load logging noise -->
    <logger name="org.springframework" level="INFO"/>

    <root>
        <level value="INFO" />
        <appender-ref ref="appender-stdout" />
    </root>

</configuration>
